<main>
  <div>hola mundo desde handlebars</div>
  <div id='chat'>
    <h1>Chat</h1>
    <div id='history'></div>
  </div>
  <div>
    <input id='chatBox' placeholder='Escribe aqui tu mensaje' />
  </div>

</main>

<script src='//cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>